html,body{
    margin:0;
    height:100%;
}

body{
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.recoveryrasswordbox{
    background-color: rgb(37, 36, 36);
    height: 400px;
    width: 350px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-family:ui-sans-serif, -apple-system, system-ui, "Segoe UI", Helvetica, "Apple Color Emoji", Arial, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol" ;
    color:white;
    text-align: center;
}
form{
    width: 300px;
    height: 400px;
}
.button_email{
    margin-top: 65px;
    border-radius: 20px;
    height: 40px;
    padding-left: 10px;
    padding-right: 188px;
    border: 0 solid;
    font-weight: 500;
    color:white;
    background-color: rgb(80, 79, 79);
    border: 1px solid rgb(135, 133, 133);
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.button_newpassword{
    border-radius: 20px;
    height: 40px;
    padding-left: 10px;
    padding-right: 188px;
    border: 0 solid;
    font-weight: 500;
    color:white;
    background-color: rgb(80, 79, 79);
    border: 1px solid rgb(135, 133, 133);
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button_confirmthepassword{
    border-radius: 20px;
    height: 40px;
    padding-left: 10px;
    padding-right: 188px;
    border: 0 solid;
    font-weight: 500;
    color:white;
    background-color: rgb(80, 79, 79);
    border: 1px solid rgb(135, 133, 133);
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    border-radius: 20px;
    height: 40px;
    padding: 0 149px;
    border: 0 solid;
    font-weight: 500;
    color:white;
    background-color: rgb(80, 79, 79);
    border: 1px solid rgb(135, 133, 133);
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}